*{margin:0;padding:0;box-sizing: border-box;}

:root{
    --primary-color:rgb(67, 142, 203);
    --secondary-color:#ff69b4;
    --bg-black:rgb(66, 63, 63);
    --white:#fff;
    --active-color:mediumseagreen;
}

html{
   font-size: 1.3rem; 
   font-family: Georgia, 'Times New Roman', Times, serif;
}

ul>li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn{
    padding:.5rem 1.2rem;
    background-color: var(--bg-black);
    border: none;
    border-radius: 5rem;
    display: inline-block;
    color:var(--white);

}
/* =====================================
  reusable code  ended here
========================================*/
.logo{
    width:6rem;
    height:2rem;


}
.header{
  padding:0 4.8rem;
  height:2.3rem;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-lists{
    display: flex;
    gap:4.8rem;

}
.navbar-link:link,
.navbar-link:visited{
    text-decoration: none;
    text-transform: uppercase;
    color:#212529;
    display: inline-block;
    font-weight: 400;
    font-size: .6rem;
    color:var(--bg-black);
    transition: color 0.3s linear;

}
.navbar-link:hover,
.navbar-link:active{
    color:var(--active-color);
    box-shadow:.2rem 0.6rem .9rem #69696a;

}
